<div class="backimg">
  <img src="../../assets/img/Networking.jpg">
</div>

<div class="login">
  <mat-card>

    <mat-card-header>
      <mat-card-title>Recommendation System</mat-card-title>
      <mat-card-subtitle>Acesse sua conta</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <input matInput placeholder="username"> <br>
      <input matInput placeholder="senha"><br>
      <button mat-raised-button color="primary">Entrar</button>
    </mat-card-content>

    <mat-card-footer>
    <a href="#">Junte-se a nós!</a>
    </mat-card-footer>

  </mat-card>

</div>
